*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}

body {
  background-color: white;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3%;
    padding: 2%;
    font-size: 1.5em;
    font-weight: 600;

}
 #high-scores {
    justify-content: flex-start;
    color: blueviolet;
    cursor: pointer;
    text-decoration: none;
 }

 #timer {
    justify-content: flex-end;
    color: blueviolet;
 }

.sp-style {
    text-align: center;
    margin: 1%;
    padding: 2%;
    font-size: 1.80em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;

}
.container {
    width: 500px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.all-btn {
    display: grid;
    gap: 15px;
    margin: 20px 0;
}

.btn {
    background-color: rgb(137, 67, 145);
    border-radius: 5px;
    padding: 15px 20px;
    color: white;
    outline: none;
    font-size: large;

}

.btn:hover {
    border-color: black;
}

.btn.correct {
    background-color: green;
    color: black;
}

.btn.wrong {
    background-color: red;
}

.start-btn {
    font-size: larger;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide  {
    display: none;
}